body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.navbar{
    display: flex;
    background-image: url(Capture.PNG);
}
.pp{
    margin-left: 300px;
    margin-top: 40px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.logo{
    margin-left: 60px;
    height: 70px;
}
.schedule{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.about{
    margin-left: 30px;
    margin-top: 31px;
    font-size: 15px;
    border: 0;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
    color: black;
    position: absolute;
    opacity: 0.7;
}
.content1{
    display: none;
    padding: 20px;
    width: fit-content;
    color: black;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 10px;
    position: absolute;
    text-decoration: none;
    color: black;
}
.content{
    margin-top: 10px;
}
.content:hover .content1{
    display: block;
    background-image: url(Capture.PNG);
}
.container1 .navbar:hover a{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.land{
    margin-left: 130px;
    border: 1px solid white;
    border-radius: 12px;
    background-color: #EA5B0C;
    color: white;
    padding: 0px 10px;
    margin-top: 15px;
    width: 140px;
    margin-top: 30px;
    height: 35px;
    text-align: center;
}
.new{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 320px;
    font-size: 30px;
    opacity: 0.8;
    margin-top: 100px;
    position: absolute;
}
.walk{
    font-size: 15px;
    width: fit-content;
    left: 100px;
    position: absolute;
    opacity: 0.8;
}
.lang{
    width: 500px;
    height: 100vh;
    border: 8px solid white;
    border-radius: 30px;
    background-color: #F5F5F5;
    margin-top: 20px;
    position: absolute;
    left: -200px;
    top: 350px;
    margin-left: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.terra{
    position: absolute;
    margin-top: 850px;
    margin-right: 100px;
    left: -170px;
    font-size: 30px;
}
.road{
    position: absolute;
    top: 1030px;
    margin-left: -170px;
    
}
.lekki{
    border: 1px solid white;
    padding: 6px;
    font-size: 15px;
    background-color: orangered;
    color: white;
}
.benefits{
    /* display: flex; */
    margin-top: 1000px;
    margin-left: -370px;
    justify-content: center; 
    padding: 0px 100px;
}
span{
    margin-left: 100px;
}
.see{
    border-radius: 12px;
    padding: 10px 25px;
    font-size: 15px;
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin-top: 40px;
}
.wifi{
    margin-left: 500px;
    margin-top: 15px;
    opacity: 0.8;
}
.apparel{
    margin-left: 360px;
    margin-top: -68px;
    opacity: 0.8;
}
.smart{
    margin-left: 220px;
    margin-top: -68px;
    opacity: 0.8;
}
.bell{
    margin-left: 90px;
    margin-top: -68px;
    opacity: 0.8;
}
.text-icon{
    font-size: 27px;
}
.images{
     overflow-x: scroll;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    
}
.image1{
    width: 13%;
    height: 10%;
    margin-left: 90px;
    border-radius: 12px;
}
.image2{
    width: 13%;
    height: 10%;
    margin-left: 10px;
    border-radius: 12px;
}
.image3{
    width: 13%;
    height: 10%;
    margin-left: 10px;
    border-radius: 12px;
}
.response{
    border-radius: 12px;
    padding: 10px 25px;
    font-size: 15px;
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin-left: 750px;
}
.whatsapp{
    display: none;
}
.click:focus-within .whatsapp{
    display: block;
}
.icons{
    color: orangered;
    margin-left: 800px;
    
}
#facebook{
 position: absolute;
 top: 1200px;
}
#twitter{
    position: absolute;
    top: 1240px;
}
#instagram{
    position: absolute;
    top: 1280px;
}
#youtube{
    position: absolute;
    top: 1320px;
}